@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap");
@font-face {
  font-family: "yanolja";
  src: url(../font/Jalnan.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
}

#wrap {
  width: 100%;
  height: auto;
}

#wrap #header {
  width: 100%;
  height: auto;
  border-bottom: 1px solid lightgray;
  background: rgba(255, 255, 255, 0.6);
}

#wrap #header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1400px;
  height: 100%;
  padding: 3em;
  margin: 0 auto;
  position: relative;
}

#wrap #header ul li {
  font-weight: bold;
  font-size: 24px;
  position: absolute;
  opacity: 0;
}

#wrap #header ul li:first-child {
  top: 0;
  left: 0;
  display: block;
  padding: 1em;
}

#wrap #header ul li:last-child {
  text-transform: uppercase;
  top: 0;
  right: 0;
  display: block;
  padding: 1em;
}

#wrap #header ul li:last-child .fa-angle-left:before, #wrap #header ul li:last-child .fa-angle-right:before {
  font-size: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#wrap #header ul li:last-child:hover .fa-angle-left:before, #wrap #header ul li:last-child:hover .fa-angle-right:before {
  font-size: 24px;
}

#wrap #main {
  width: 100%;
  height: 800px;
  background: #F6FCFB;
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#wrap #main .main_inner {
  width: 1400px;
  margin: 0 auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#wrap #main .main_inner .main_text {
  width: 100%;
  height: 100%;
  text-align: right;
  position: relative;
}

#wrap #main .main_inner .main_text h1 {
  color: #222;
  font-weight: bold;
  font-size: 36px;
  padding: 35% 10px 35% 0;
  margin-right: 200px;
  -webkit-transition: all .7s;
  transition: all .7s;
  opacity: 0;
}

#wrap #main .main_inner .main_text h1 span {
  color: lightgray;
  font-size: 12px;
}

#wrap #main .main_inner .main_text .mini_menu {
  width: 40px;
  background: #fff;
  border: 1px solid gray;
  border-radius: 25px;
  height: 40px;
  position: absolute;
  top: 10%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
  margin-left: 5px;
}

#wrap #main .main_inner .main_text .mini_menu .plus {
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
  z-index: 2;
  padding-left: 10.5px;
  padding-right: 15px;
}

#wrap #main .main_inner .main_text .mini_menu .plus .line1 {
  width: 15px;
  height: 2px;
  background: black;
  -webkit-transition: all .3s;
  transition: all .3s;
  position: relative;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#wrap #main .main_inner .main_text .mini_menu .plus .line2 {
  width: 15px;
  height: 2px;
  background: black;
  -webkit-transition: all .3s;
  transition: all .3s;
  position: relative;
  top: -2px;
}

#wrap #main .main_inner .main_text .mini_menu .icons {
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#wrap #main .main_inner .main_text .mini_menu .icons a:last-child i {
  font-size: 24px;
  margin-top: 6px;
}

#wrap #main .main_inner .main_text .mini_menu .icons a i {
  font-size: 20px;
  margin-top: 8px;
}

#wrap #main .main_inner .profile {
  width: 100%;
  height: 100%;
  background: url(../img/profile1.jpg) no-repeat;
  background-size: 540px 540px;
  background-position: center;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#wrap #section {
  width: 1400px;
  margin: 0 auto;
}

#wrap #section > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0;
}

#wrap #section > ul > li {
  -webkit-transition: all .3s;
  transition: all .3s;
  border-radius: 15px;
}

#wrap #section > ul > li:hover {
  background: #60B0EB;
}

#wrap #section > ul > li a {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  display: block;
  padding: 15px 20px;
  text-transform: uppercase;
  -webkit-transition: all .3s;
  transition: all .3s;
  width: 100%;
}

#wrap #section #about {
  width: 1400px;
  margin: 0 auto;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#wrap #section #about .about_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

#wrap #section #about .about_left .about_text {
  padding: 15px;
  margin: 90px 0;
  width: 100%;
}

#wrap #section #about .about_left .about_text .about_text_top {
  background: #60B0EB;
  width: 50%;
  position: relative;
  height: 110px;
}

#wrap #section #about .about_left .about_text .about_text_top h2 {
  font-weight: bold;
  position: absolute;
  bottom: 0;
  right: 0;
}

#wrap #section #about .about_left .about_text .about_text_top h2:first-child {
  bottom: 30px;
  right: -25px;
  text-transform: uppercase;
  font-size: 32px;
}

#wrap #section #about .about_left .about_text .about_text_top h2:last-child {
  right: -40px;
  font-size: 24px;
}

#wrap #section #about .about_left .about_text .about_text_bot {
  width: 100%;
  height: 60%;
  text-align: right;
}

#wrap #section #about .about_left .about_text .about_text_bot p {
  font-size: 18px;
}

#wrap #section #about .about_left .about_text .about_text_bot p:first-child {
  padding-top: 55px;
}

#wrap #section #about .about_left .about_photo {
  width: 100%;
  margin: 100px 10px;
  position: relative;
}

#wrap #section #about .about_left .about_photo img {
  width: 100%;
  height: 100%;
  -webkit-transition: all .3s;
  transition: all .3s;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

#wrap #section #about .about_left .about_photo .active {
  opacity: 1;
}

#wrap #section #about .about_right {
  width: 100%;
  margin: 90px 0;
  padding: 20px;
  position: relative;
}

#wrap #section #about .about_right .arr_area {
  text-align: right;
  margin-right: 30px;
}

#wrap #section #about .about_right .arr_area a:first-child {
  margin-right: 15px;
}

#wrap #section #about .about_right .arr_area a i {
  font-size: 32px;
}

#wrap #section #about .about_right .about_right_text {
  opacity: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  position: absolute;
  top: 50px;
  left: 0;
}

#wrap #section #about .about_right .about_right_text > p {
  margin: 25px 20px;
  font-size: 18px;
  line-height: 150%;
}

#wrap #section #about .about_right .about_right_text > ul {
  margin: 25px 20px;
}

#wrap #section #about .about_right .about_right_text > ul > li {
  font-size: 18px;
  line-height: 150%;
}

#wrap #section #about .about_right .about_right_text > ul > li:first-child {
  margin-bottom: 15px;
  margin-top: 15px;
}

#wrap #section #about .about_right .active {
  opacity: 1;
}

#wrap #section #skill {
  width: 1400px;
  margin: 50px auto;
  height: 1000px;
  background: #60B0EB;
}

#wrap #footer {
  width: 100%;
}

#wrap .loading {
  background: #fff;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-transform: scale(1);
          transform: scale(1);
  z-index: 99999;
}

#wrap .loading .progress_bar {
  position: relative;
  width: 1000px;
  height: 20px;
  margin: 3rem auto;
  top: 40%;
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  border-radius: 15px;
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-transform: scale(1);
          transform: scale(1);
}

#wrap .loading .progress_bar .bar {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  width: 0;
  background: lightgray;
  border-radius: 15px;
}

#wrap .loading .progress_bar .num {
  position: absolute;
  top: 150%;
  left: 50%;
  right: 15px;
  font-size: 1.5em;
  color: #222;
  line-height: 30px;
  font-weight: bold;
  font-family: 'yanolja', 'Noto Sans KR', sans-serif;
}

#wrap .map_frame {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
}

#wrap .map_frame #map {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#wrap .map_frame .closeBtn {
  position: absolute;
  top: 20%;
  right: 10%;
  display: block;
  padding: 15px 20px;
  background: #fff;
  z-index: 999;
  cursor: pointer;
}

@media screen and (max-width: 1400px) {
  #wrap #header ul {
    width: 100%;
  }
  #wrap #main .main_inner {
    width: 100%;
  }
  #wrap #section {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  #wrap #main {
    height: 600px;
  }
  #wrap #main .main_inner .profile {
    background-size: 300px 300px;
  }
}

@media screen and (max-width: 860px) {
  #wrap #main .main_inner .main_text h1 {
    font-size: 30px;
    padding-top: 50%;
  }
}

@media screen and (max-width: 720px) {
  #wrap #main {
    height: 500px;
  }
  #wrap #section ul {
    margin: 0 5px;
  }
  #wrap #section ul li a {
    font-size: 18px;
  }
}
/*# sourceMappingURL=indexStyle.css.map */